.headshot {
    display: flex;
    justify-content: center;
  }

.Flexbox1 {
    display: flex;
    justify-content: flex-end;
  }

.rooted_preview {
    display: flex;
    justify-content: flex-end;
}

